@model Ogr_Kayit_MVC.Models.Table

@{
    ViewBag.Title = "Details";
}

<h4>Öğrenci Detayları</h4>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OgrAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrMail)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OgrFotograf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrFotograf)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OgrAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrYas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrYas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrSınıf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrSınıf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrNot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrNot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrHarfNotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrHarfNotu)
        </dd>

    </dl>
</div>
<p>
  
        
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    <hr />
    @Html.ActionLink("Öğrenci Listesine Geri Dön", "Index")
    
</p>
<dt>
    <img src="@Model.OgrFotograf", width="150" height="140" />


</dt>